# FlashForge Creator Pro 2016 Configuration for Klipper
# Hierosoft configuration:
# - Modified to use (0,0) origin with bed size based on original coordinate differences
# - Swapped extruders: right extruder is primary (extruder, standard orientation), left extruder is secondary (mirrored)
#
# based on https://raw.githubusercontent.com/BillyNate/klipper-flashforge-creatorpro/refs/heads/main/creatorpro.cfg


# This file contains common pin mappings for the Makerbot
# Mightyboard. To use this config, the firmware should be compiled for
# the Atmel atmega1280.


# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PF1
dir_pin: !PF0
enable_pin: !PF2
microsteps: 16
rotation_distance: 34
endstop_pin: ^!PL1
position_endstop: 231  # formerly 134 - (-134) = 268 mm (wrong size for FFCP 2016, that would put left edge at 37)
position_max: 231  # formerly 135
position_min: -37  # formerly -134
homing_speed: 50

[stepper_y]
step_pin: PF5
dir_pin: !PF4
enable_pin: !PF6
microsteps: 16
rotation_distance: 34
endstop_pin: ^!PL3
position_endstop: 154  # formerly 80 - (-81) = 162 mm (wrong size for FFCP 2016, that would put front edge at 8)
position_max: 154  # formerly 81
position_min: -8  # formerly -81
homing_speed: 50

[stepper_z]
step_pin: PK1
dir_pin: !PK0
enable_pin: !PK2
microsteps: 16
rotation_distance: 8
endstop_pin: !PL6
position_endstop: 0
position_max: 160  # 160
position_min: -4

[extruder]
# Using left cable since right cable is bad (?)
#step_pin: PA7
#dir_pin: !PA6
#enable_pin: !PG2
#microsteps: 16
#rotation_distance: 32.906

# Right extruder (primary, standard orientation)
step_pin: PA3
dir_pin: !PA2
enable_pin: !PA4
microsteps: 16
rotation_distance: 33
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PH3
sensor_type: MAX6675
sensor_pin: PE3
spi_software_miso_pin: PE5
spi_software_sclk_pin: PE2
spi_software_mosi_pin: PA1 #dummy mosi pin
control: pid
pid_kp: 31.169  # 26.414
pid_ki: 1.623  # 1.115
pid_kd: 149.611  # 156.5054
min_temp: 0
max_temp: 260


#[extruder1]
# Left extruder (primary, Extruder 0)
#step_pin: PA7
#dir_pin: PA6  # Reversed polarity to match physical setup
#enable_pin: !PG2
#microsteps: 16
#rotation_distance: 32.906
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#heater_pin: PB5
#sensor_type: MAX6675
#sensor_pin: PE4
#spi_software_miso_pin: PE5
#spi_software_sclk_pin: PE2
#spi_software_mosi_pin: PA1 #dummy mosi pin
#control: pid
#pid_Kp: 26.414
#pid_Ki: 1.115
#pid_Kd: 156.5054
#min_temp: 0
#max_temp: 260

[heater_fan extruder_fan]
# Right extruder fan
pin: PH4
heater: extruder


#[heater_fan extruder1_fan]
# Left extruder fan
#pin: PB6
#heater: extruder1


[fan]
pin: PL5

[heater_bed]
heater_pin: PL4
sensor_type: ATC Semitec 104GT-2
sensor_pin: PK7
control: pid
pid_kp: 71.900  # 70.037
pid_ki: 1.706  # 1.710
pid_kd: 757.647  # 717.000
min_temp: 0
max_temp: 130


[printer]
kinematics: cartesian
max_velocity: 200  # 150 safe, 200 aggressive with good tuning, says ChatGPT
max_accel: 2000  # 1000 safe, 3000 aggressive with good tuning, says ChatGPT
max_z_velocity: 10  # 5 mm safe
max_z_accel: 100  # 100 safe
square_corner_velocity: 5  # 5 good, 7 aggressive with good tuning, says ChatGPT

[mcp4018 x_axis_pot]
i2c_software_scl_pin: PJ5
i2c_software_sda_pin: PF3
wiper: 0.50
scale: 0.773

[mcp4018 y_axis_pot]
i2c_software_scl_pin: PJ5
i2c_software_sda_pin: PF7
wiper: 0.50
scale: 0.773

[mcp4018 z_axis_pot]
i2c_software_scl_pin: PJ5
i2c_software_sda_pin: PK3
wiper: 0.50
scale: 0.773

[mcp4018 a_axis_pot]
i2c_software_scl_pin: PJ5
i2c_software_sda_pin: PA5
wiper: 0.50
scale: 0.773

[mcp4018 b_axis_pot]
i2c_software_scl_pin: PJ5
i2c_software_sda_pin: PJ6
wiper: 0.50
scale: 0.773

[display]
lcd_type: hd44780_spi
spi_software_mosi_pin: PC3
spi_software_sclk_pin: PC2
#miso not used, dummy pin.
spi_software_miso_pin: PJ1
latch_pin: PC4

click_pin: ^PJ0
back_pin: ^PJ2
up_pin: ^PJ4
down_pin: ^PJ3

[pca9533 led_strip]
#set_led led=led_strip red=1 green=1 blue=1
i2c_bus: twi
i2c_address: 98
initial_RED: 1
initial_GREEN: 1
initial_BLUE: 1

[bed_screws]
# For right (primary, standard orientation, T0) extruder (offset -34)
# or For left (secondary, mirrored, T1) extruder
screw1: 81, 8    # Was 0, -73 (-73 [134 origin 0] wrong for FFCP 2016, screw is left of it by 19)
screw2: 27, 140   # Was -48, 70 (-48 [86 origin 0] wrong for FFCP 2016)
screw3: 127, 140  # Was 70, 70 (70 [204 origin 0] wrong for FFCP 2016)

# ^ can be commented
# as long as offset is correct on nozzle above??
#   Adjusted for (0,0) origin: shifted by +134 X, +81 Y
#screw1: 115, 8    # Was 0, -73 (-73 [134 origin 0] wrong for FFCP 2016, screw is left of it by 19)
##screw2: 67, 151   # Was -48, 70 (-48 [86 origin 0] wrong for FFCP 2016)
##screw3: 185, 151  # Was 70, 70 (70 [204 origin 0] wrong for FFCP 2016)
#screw2: 61, 140   # Was -48, 70 (-48 [86 origin 0] wrong for FFCP 2016)
#screw3: 161, 140  # Was 70, 70 (70 [204 origin 0] wrong for FFCP 2016)
horizontal_move_z: 10
speed: 50

[gcode_macro T0]
gcode:
    # SET_GCODE_OFFSET X=118  # Was -16; center at 134 - 16 = 118
    # ^ Commented since now using 0 origin, but we still want negative but only for cleaning
    ACTIVATE_EXTRUDER EXTRUDER=extruder

[gcode_macro T1]
gcode:
    # SET_GCODE_OFFSET X=150  # Was +16; center at 134 + 16 = 150
    ACTIVATE_EXTRUDER EXTRUDER=extruder1
