
[display]
# Good for 1.4 Turbo according to [Choosing the MISO Pin](https://github.com/teeminus/NoTouchScreenFirmware/issues/25):
lcd_type: emulated_st7920
spi_software_miso_pin: EXP1_6
spi_software_mosi_pin: EXP1_3
spi_software_sclk_pin: EXP1_5
en_pin: EXP1_4
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1
#pwm: False
#value: 0
#   The value to initially set the pin to during MCU configuration.
#   The default is 0 (for low voltage).
# endregion Fix occasional garbled screen according to Grok

# Aliases must be set, otherwise:
# Error: Pin 'EXP1_4' is not a valid pin name on mcu 'mcu'

# After trying several I realized one below is from
#  Klipper's RepRapDiscount 128x64 Full Graphic Smart Controller
#  config! See <https://github.com/Klipper3d/klipper/blob/master/config/sample-lcd.cfg>
# [display]
# lcd_type: st7920
# cs_pin: EXP1_4
# sclk_pin: EXP1_5
# sid_pin: EXP1_3
# encoder_pins: ^EXP2_3, ^EXP2_5
# click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

# ^ Nonworking, so try one from
#   <https://github.com/teeminus/NoTouchScreenFirmware/issues/5#issuecomment-776035981>
#   for "TFT35v3 E3 and the SKR 1.4 turbo":

# [display]
#lcd_type: st7920
#cs_pin: EXP1_7
#sclk_pin: EXP1_6
#sid_pin: EXP1_8
#encoder_pins: ^EXP1_5, ^EXP1_3
#click_pin: ^!EXP1_2
# ^ no output
 
#[output_pin beeper]
#pin: EXP1_1
