[mcu USB-ADXL345]
# printer is (left USB 3.0 port): pci-0000:00:14.0-usb-0:1:1.0
# right USB 2 port: pci-0000:00:14.0-usb-0:4:1.0
# serial: /dev/serial/by-path/pci-0000:00:14.0-usb-0:4:1.0
# serial: /dev/serial/by-path/pci-0000:00:14.0-usb-0:2:1.0  # right USB 3.0 port (SKR 1.4 Turbo)
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_33FFDA054654363148512543-if00

[adxl345]
cs_pin: USB-ADXL345:PA4
spi_bus: spi1
axes_map: y,-x,z  # y,-x,z for Hierosoft mount (hardware revision 1, usb cable near front, longways along y, chip facing up).

[resonance_tester]
accel_chip: adxl345
probe_points: 107, 107, 20  # example in documentation is 100,100,20 "in the middle of the print bed, slightly above it." -<https://damlobster.github.io/klipper/Measuring_Resonances.html>

# [input_shaper] section goes in klipper (so this file isn't included when accelerometer is unplugged!)

# HOWTO:
# - Ensure serial is correct above (ls /dev/serial/by-path (or by-id if upstream bug in udev in Bullseye 11.7 is fixed))
# - Uncomment the include statement for inputShaper.cfg in printer.cfg
# - Secure the accelerometer where the klipper MEASURE_AXES_NOISE command says 100 or less.
# - TEST_RESONANCES AXIS=X
# - TEST_RESONANCES AXIS=Y
# - Then in terminal:
# ```
# ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_x_*.csv -o /tmp/shaper_calibrate_x.png
# ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_y_*.csv -o /tmp/shaper_calibrate_y.png
# ```