# based on https://raw.githubusercontent.com/VoronDesign/Voron-Legacy/refs/heads/main/Firmware/skr_v1.3_config.cfg
# 414a16f

# In your printer.cfg do:
# 
# [mcu]
# serial: # your serial port here
# restart_method: command
#
# [include voronlegacy.cfg]

[stepper_x]
enable_pin: !P2.1
step_pin: P2.2
dir_pin: !P2.6
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^P1.29
position_min: -12
position_endstop: 222
position_max: 222
homing_speed: 50.0
homing_positive_dir: true
homing_retract_dist: 5

[tmc2209 stepper_x]
uart_pin: P1.10
run_current: 0.700
interpolate: False

[stepper_y]
enable_pin: !P2.8
step_pin: P0.19
dir_pin: !P0.20
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^P1.28
position_min: 0
position_endstop: 214
position_max: 214
homing_speed: 50.0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: P1.9
run_current: 0.700
interpolate: False

[stepper_z]
# Plugged into Z socket (primary Z motor)
step_pin: P1.15
dir_pin: !P1.14
enable_pin: !P1.16
rotation_distance: 8  # TR8x8 leadscrew (8 mm/rev); yields 400 steps/mm with microsteps: 32
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_max: 240
position_min: -5
homing_speed: 15.0
homing_retract_dist: 5.0

[tmc2209 stepper_z]
uart_pin: P1.1
# run_current: 0.400
run_current: 1.0  # Increased for 17E19S1684MB4-300RS (1.68A rated); adjust 0.8-1.2A if needed
interpolate: False
stealthchop_threshold: 999999  # 999999 forces StealthChop at all practical speeds

[stepper_z1]
# Plugged into E1 socket for automatic gantry leveling
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
rotation_distance: 8  # TR8x8 leadscrew (8 mm/rev); yields 400 steps/mm with microsteps: 32
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
# plugged into E1 (unused second extruder port) for automatic gantry leveling
uart_pin: P1.8
run_current: 1.0  # Increased for 17E19S1684MB4-300RS
interpolate: False
stealthchop_threshold: 999999  # 999999 forces StealthChop at all practical speeds

#[homing_override]
#set_position_z: 0
##set_position_x: 0
##set_position_y: 0
#axes: xyz
#gcode:
#    G90  ; absolute positioning
#    G0 Z5 F600
#    G28 X0 Y0
#    G0 X117.5 Y95 F5000
#    G28 Z0
#    G0 Z5 F500
[include macros-homing_override.cfg]

#[include hardware-extruder-a3s.cfg]
[include hardware-extruder-bondtech-lgx.cfg]

[verify_heater extruder]
max_error: 200
check_gain_time: 30
[include hardware-heater_bed-dc-a3s.cfg]
# ^ TODO: move content of this to printer.cfg so that SAVE_CONFIG works (For that, the heater_bed section must be in printer.cfg only)

[fan]
pin: P2.3  # FAN0 part cooling fan (M106/M107)
max_power: 1.0
kick_start_time: 0.200  # Helps with initial spin-up

[controller_fan my_controller_fan]
pin: P2.4  # Controls both controller and extruder fans (wired together)
max_power: 1.0
kick_start_time: 0.200  # Helps with initial spin-up
# heater: heater_bed
fan_speed: 1.0  # Speed when active (default: 1.0)
heater: extruder  # Activates when extruder target temp >0 (covers heating without movement)
# No 'stepper' specified = defaults to all steppers (x, y, z, extruder), activates on any motor activity
idle_timeout: 60  # Seconds to keep running after last activity (adjust higher, e.g., 300, for more hotend cooldown)
idle_speed: 1.0  # Speed during idle_timeout (default: same as fan_speed)


# thermally controlled hotend fan
#[heater_fan my_nozzle_fan]
#pin: P2.4
#max_power: 1.0
#kick_start_time: 0.100
#heater: extruder
#heater_temp: 50.0
#fan_speed: 1.0

[bed_mesh]
# speed: 150
speed: 200
horizontal_move_z: 10
mesh_min: 30,30
mesh_max: 205,200
probe_count: 5,5

[printer]
kinematics: corexy
# max_velocity: 180
max_velocity: 500  # TODO: calibrate this
#max_accel: 1000
max_accel: 6100 # resonance tests recommend:
#* concrete block on 3 foam pads, rolling table mounted to doorjam:
#X: To avoid too much smoothing with '3hump_ei', suggested max_accel <= 13300 mm/sec^2
#Y: To avoid too much smoothing with 'zv', suggested max_accel <= 87500 mm/sec^2
#* concrete block with 1/2 PVC glued on & 1 1" foam pad, rolling table mounted to doorjam:
#To avoid too much smoothing with '3hump_ei', suggested max_accel <= 9900 mm/sec^2
#To avoid too much smoothing with 'mzv', suggested max_accel <= 6100 mm/sec^2
max_z_velocity: 15
max_z_accel: 200
square_corner_velocity: 5.0

[z_tilt]
# speed: 150
speed: 300
z_positions:
    283,107
    -40,107
points:
    20,107
    194,107
horizontal_move_z: 10  # must be specified since default (5) is less than probe z_offset!
# ^ must be *over* probe z_offset+1 for warped beds.

#[display]
#    mini12864 LCD Display
#lcd_type: uc1701
#cs_pin: P1.18
#a0_pin: P1.19
#rst_pin: P1.20
#encoder_pins: ^P3.26,^P3.25
#click_pin: ^!P0.28
#contrast: 63
#spi_software_sclk_pin: P0.15
#spi_software_mosi_pin: P0.18
#spi_software_miso_pin: P0.17

# klipper/config/generic-bigtreetech-skr-v1.4.cfg says:
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

# Grok says:
#[board_pins]
#aliases:
#    # EXP1 header
#    EXP1_1=P1.30, EXP1_2=P0.28, EXP1_3=P1.18, EXP1_4=P1.19, EXP1_5=P1.20,
#    EXP1_6=P1.21, EXP1_7=P1.22, EXP1_8=P1.23, EXP1_9=<GND>, EXP1_10=<5V>,
#    # EXP2 header
#    EXP2_1=P0.17, EXP2_2=P0.15, EXP2_3=P3.26, EXP2_4=P0.16, EXP2_5=P3.25,
#    EXP2_6=P0.18, EXP2_7=P1.31, EXP2_8=<RST>, EXP2_9=<GND>, EXP2_10=<NC>

# from <https://www.reddit.com/r/klippers/comments/prf3fm/comment/iiebbfr/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button>:
# but really from klipper/config/sample-lcd.cfg
#[display]
#lcd_type: st7920
#cs_pin: EXP1_4
#sclk_pin: EXP1_5
#sid_pin: EXP1_3
#encoder_pins: ^EXP2_3, ^EXP2_5
#click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8
#menu_reverse_navigation: true

#[output_pin beeper]
#pin: EXP1_1

[gcode_macro DISABLE_MOTORS]
gcode:
    M18
