# by Poikilos
# This file is part of https://github.com/Poikilos/marlininfo
# For a more advanced solution see https://github.com/jschuh/klipper-macros/blob/main/filament.cfg
#
# IMPORTANT: Ensure [save_variables] is defined in your printer.cfg to use SAVE_VARIABLE.
# Example configuration:
# [save_variables]
# filename: ~/printer_data/config/variables.cfg
#
[gcode_macro LOAD_FILAMENT]
description: Load (by Poikilos)
gcode:
  SET_FILAMENT_SENSOR SENSOR=switch_sensor ENABLE=0
  SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0

  # Warn user if [save_variables] might not be configured
  # RESPOND TYPE=echo MSG="WARNING: Ensure [save_variables] is defined in printer.cfg with a valid filename (e.g., [save_variables]\nfilename: ~/klipper_config/variables.cfg). Otherwise, SAVE_VARIABLE will fail."
  
  M117 Checking temperature for filament load...
  # Set default extruder temperature, preferring loaded_extruder_c if it exists (formerly last_extruder_deg)
  {% set default_extruder_deg = 230 %}
  {% if printer.save_variables.variables.loaded_extruder_c is defined %}
    {% set default_extruder_deg = printer.save_variables.variables.loaded_extruder_c %}
    # ^ Also used by Hierosoft's M600 (filament change) macro
  {% endif %}
  {% set e0_temp = params.TEMPERATURE|default(printer.extruder.target if printer.extruder.target > 0 else default_extruder_deg)|float %}
  
  # Save the temperature if explicitly provided
  {% if params.TEMPERATURE is defined %}
    SAVE_VARIABLE VARIABLE=loaded_extruder_c VALUE={params.TEMPERATURE}
  {% endif %}
  M117 Saved {e0_temp} C for filament. Waiting for temperature...
  # All of the above was formerly (without save_variables):
  # {% set e0_temp = params.TEMPERATURE|default(printer.extruder.target if printer.extruder.target > 0 else 230)|float %}
  M109 S{e0_temp}
  ;G92 E0 ; set position as 0
  M117 loading filament...
  G91 ; set relative positioning
  ; Avoid max_extrude_only_distance by using separate moves:
  ; {% set load_length = 60 %}  ; MakerBot Replicator 2X with FlexionHT
  ; 52 plus purge 8 more for FlashForge Creator Pro (2016 version, stock extruder)
  ; ~800 total (until starts pushing if filament was only in nozzle not throat) for Voron Legacy (Poikilos' build)

  ; If using 532 bowden tube:
  ; 532 bowden tube + hotend
  ; JGAURORA A3S hotend: 26.5mm throat + 11mm nozzle + 1.5 taper (since tapers, feed less than 1.5 mm or do it slowly to purge)
  ; extruder gear(s), approximate (commented since user may push as far as bowden tube or so):
  ; G1 E10 F30000 
  ; F15000 skips now for some reason (LGX tension arm setting??)
  ; bowden tube:
  G1 E100 F8000
  G1 E100 F8000
  G1 E100 F8000
  G1 E100 F8000
  G1 E100 F8000
  G1 E32 F8000
  ; F480 skips (significantly on 0.4 nozzle moreso on 0.2 even with meta PLA)
  # Fast then slow since extruding
  ; throat:
  G1 E13.25 F480
  G1 E13.25 F240
  ; F480 skips on direct drive FlexionHT (significantly on 0.4 nozzle moreso on 0.2 even with meta PLA)
  ; nozzle upper shaft (part with 1.75mm bore):
  G1 E11 F120
  ; nozzle taper (takes less than 1.5 since tapered, but purge slightly): 
  G1 E1.5 F60
  ; purge (40mm@5mm/s = 300mm/m tested changing from white PLA+ to black PETG)
  G1 E40 F300
  M117 Waiting for load to complete...
  M400 ; wait for moves to complete
  ; TURN_OFF_HEATERS
  M109 S0
  G90 ; set absolute positioning
  G92 E0 ; set position as 0
  SET_FILAMENT_SENSOR SENSOR=switch_sensor ENABLE=1
  SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=1
  M117 Finished loading filament.
  RESPOND MSG="Finished loading filament."


[gcode_macro UNLOAD_FILAMENT]
description: Unload (by Poikilos)
gcode:
  SET_FILAMENT_SENSOR SENSOR=switch_sensor ENABLE=0
  SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
  # Warn user if [save_variables] might not be configured
  # RESPOND TYPE=echo MSG="WARNING: Ensure [save_variables] is defined in printer.cfg with a valid filename (e.g., [save_variables]\nfilename: ~/klipper_config/variables.cfg). Otherwise, SAVE_VARIABLE will fail."
  M117 Checking temperature for filament unload...
  
  # Set default extruder temperature, preferring loaded_extruder_c if it exists
  {% set default_extruder_deg = 230 %}
  {% if printer.save_variables.variables.loaded_extruder_c is defined %}
    {% set default_extruder_deg = printer.save_variables.variables.loaded_extruder_c %}
  {% endif %}
  {% set e0_temp = params.TEMPERATURE|default(printer.extruder.target if printer.extruder.target > 0 else default_extruder_deg)|float %}
  
  # Save the temperature if explicitly provided
  {% if params.TEMPERATURE is defined %}
    SAVE_VARIABLE VARIABLE=loaded_extruder_c VALUE={params.TEMPERATURE}
  {% endif %}
  

  M117 Waiting for {e0_temp} C for filament unload...
  # All of the above was formerly (without save_variables):
  # {% set e0_temp = params.TEMPERATURE|default(printer.extruder.target if printer.extruder.target > 0 else 230)|float %}
  M109 S{e0_temp}
  M117 Unloading filament...
  G92 E0 ; set position as 0
  G91 ; set relative positioning
  ; Avoid max_extrude_only_distance:
  ; {% set unload_length = 60 %}  ; MakerBot Replicator 2X with FlexionHT
  ; If using 532 bowden tube:
  ; 532 bowden tube + hotend
  ; JGAURORA A3S hotend: 26.5mm throat + 11mm nozzle + 1.5 taper (since tapers, feed less than 1.5 mm or do it slowly to purge)
  ; {% set unload_length = 735 %}
  ; G1 E-1 F60
  ; G1 E-1 F120
  ; G1 E-1 F240
  ; Immediately fast since retracting (try to pull it cleanly)
  ; tapered part of nozzle (less than 1.5 actually)
  G1 E-1.5 F480
  ; nozzle upper shaft (part with 1.75mm bore):
  G1 E-11 F480
  ; throat:
  G1 E-13.25 F960
  G1 E-13.25 F2400
  ; bowden tube (max E move is 100):
  G1 E-32 F8000
  G1 E-100 F8000
  G1 E-100 F8000
  G1 E-100 F8000
  G1 E-100 F8000
  G1 E-100 F8000
  ; extruder gear(s), approximate (-10 doesn't exit):
  G1 E-32.5 F8000
  M117 Waiting for unload to complete...
  M400 ; wait for moves to complete
  ; TURN_OFF_HEATERS
  G90 ; set absolute positioning
  G92 E0 ; set position as 0
  SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0 ; allow pushing the next one into the gear (to prepare for LOAD)
  SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0 ; allow pushing the print head (to load)
  SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0 ; allow pushing the print head (to load)
  SET_FILAMENT_SENSOR SENSOR=switch_sensor ENABLE=1
  SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=1
  M117 Finished unloading filament.
  RESPOND MSG="Finished unloading filament."

[gcode_macro PURGE_CLEANING_FILAMENT]
description: Load (by Poikilos)
gcode:
  {% set default_extruder_deg = 230 %}
  {% if printer.save_variables.variables.loaded_extruder_c is defined %}
    {% set default_extruder_deg = printer.save_variables.variables.loaded_extruder_c %}
    # ^ Also used by Hierosoft's M600 (filament change) macro
  {% endif %}
  {% set e0_temp = params.TEMPERATURE|default(printer.extruder.target if printer.extruder.target > 0 else default_extruder_deg)|float %}
  
  # Save the temperature if explicitly provided
  {% if params.TEMPERATURE is defined %}
    SAVE_VARIABLE VARIABLE=loaded_extruder_c VALUE={params.TEMPERATURE}
  {% endif %}
  # All of the above was formerly (without save_variables):
  # {% set e0_temp = params.TEMPERATURE|default(printer.extruder.target if printer.extruder.target > 0 else 230)|float %}
  M109 S{e0_temp}
  ;G92 E0 ; set position as 0
  G91 ; set relative positioning
  G1 E100 F480
  G1 E100 F480
  G1 E5 F480

[gcode_macro PURGE_CLEANING_FILAMENT_HALF]
description: Load (by Poikilos)
gcode:
  {% set default_extruder_deg = 230 %}
  {% if printer.save_variables.variables.loaded_extruder_c is defined %}
    {% set default_extruder_deg = printer.save_variables.variables.loaded_extruder_c %}
    # ^ Also used by Hierosoft's M600 (filament change) macro
  {% endif %}
  {% set e0_temp = params.TEMPERATURE|default(printer.extruder.target if printer.extruder.target > 0 else default_extruder_deg)|float %}
  
  # Save the temperature if explicitly provided
  {% if params.TEMPERATURE is defined %}
    SAVE_VARIABLE VARIABLE=loaded_extruder_c VALUE={params.TEMPERATURE}
  {% endif %}
  # All of the above was formerly (without save_variables):
  # {% set e0_temp = params.TEMPERATURE|default(printer.extruder.target if printer.extruder.target > 0 else 230)|float %}
  M109 S{e0_temp}
  ;G92 E0 ; set position as 0
  G91 ; set relative positioning
  G1 E100 F480
  G1 E5 F480
