
# until I change my ADXL345 mount to leave 7mm safe z distance (touches bed around z=6, but klipper moves to 5 after triggering around 6!):
[homing_override]
axes: z
gcode:
    SET_KINEMATIC_POSITION Z=0                 ; Reset Z position
    G91                                    ; Set relative positioning
    G0 Z4  ; in case off of bed and can't probe (z3 still scrapes bed if was jammed that way already)!
    QUERY_PROBE                               ; Check probe state
    {% if printer.probe.last_query %}         ; If probe is triggered
        G0 Z2
    {% endif %}
    QUERY_PROBE                               ; Check probe state
    {% if printer.probe.last_query %}         ; If probe is triggered
        G0 Z2
    {% endif %}
    QUERY_PROBE                               ; Check probe state
    {% if printer.probe.last_query %}         ; If probe is triggered
        G0 Z2
    {% endif %}
    QUERY_PROBE                               ; Check probe state
    {% if printer.probe.last_query %}         ; If probe is triggered
        G0 Z2
    {% endif %}
    QUERY_PROBE                               ; Check probe state
    {% if printer.probe.last_query %}         ; If probe is triggered
        G0 Z2
    {% endif %}
    QUERY_PROBE                               ; Check probe state
    {% if printer.probe.last_query %}         ; If probe is triggered
        G0 Z2
    {% endif %}
    QUERY_PROBE                               ; Check probe state
    {% if printer.probe.last_query %}         ; If probe is triggered
        G0 Z2
    {% endif %}
    M84  ; disable steppers; makes sure bed is considered not homed (prevents further movement before homing)
    G90                                        ; Switch to absolute positioning
    ;G1 X100 Y100 F3000                        ; Move to bed center (adjust for your bed)
    ; G1 Z10 ; lift z out of triggered range -- commented since messes up probing (not triggered after full movement)!
    G28 X Y                                 ; Home X and Y
    SET_KINEMATIC_POSITION X=224
    SET_KINEMATIC_POSITION Y=214
    G1 X107 Y107 F50000                        ; Return to bed center (*must* do this, since this is a homing override [move to center not done automtically]!)
    G28 Z                                     ; Home Z with inductive probe
    ;G1 Z10 F600                                ; Move up for ADXL345 clearance (commented since only horizontal_move_z in bed_mesh and z_tilt can prevent "probe triggered prior to movement" if high enough)
    Z_TILT_ADJUST                             ; Adjust gantry for dual Z steppers
    ;BED_MESH_CALIBRATE                        ; Detect bed shape (assumes start G-code set bed temp and waited before G29)
    G1 X107 Y107 F50000
