# by Poikilos

# DEPRECATED: Not that useful since can set bed temp with Temperature panel in Mainsail

# This file is part of https://github.com/Poikilos/marlininfo
#[gcode_macro SET_BED_TEMP]
#description: Set Bed Temperature (by Poikilos)
#gcode:
#  {% set bed_temp = params.Temperature|default(63)|float %}
#  ; M190 S{bed_temp} set bed temp and wait
#  M140 S{bed_temp} ; set bed temp and don't wait
# ^ Not working (always 63)

[gcode_macro SET_BED_TEMP]
description: Set Bed Temperature (by Poikilos)
gcode:
  # {action_respond_info("Received params: %s" % params|tojson)}
  # ^ according to output above, param name automatically gets set to all caps.
  {% if params.TEMPERATURE is defined %}
    {% set bed_temp = params.TEMPERATURE|float %}
    M140 S{bed_temp} ; set bed temp and don't wait
  {% else %}
    {action_respond_info("Error: Temperature parameter not provided. FilaPrint recommends: PLA: 205 bed=63; ABS: 240 bed=110; PETG: 230 bed=60; Laywood: 205 bed=55")}
  {% endif %}

# by Poikilos
# This file is part of https://github.com/Poikilos/marlininfo
[gcode_macro SET_HOTEND_TEMP]
description: Set Hotend Temperature (by Poikilos).
gcode:
  {action_respond_info("FilaPrint recommends: PLA: 205 bed=63; ABS: 240 bed=110; PETG: 230 bed=60; Laywood: 205 bed=55")}
  {% set temperature = params.Temperature|default(230)|float %}
  {% set hotend_index = params.Hotend_Index|default(0)|int %}
  ; M109 S{hotend} set temp and wait
  M104 T{hotend_index} S{temperature} ; set temp and don't wait
  ; alternatively, either M command accepts I, a material preset (not tested with Klipper)
