# by Poikilos
# This file is part of https://github.com/Poikilos/marlininfo
# For a more advanced solution see https://github.com/jschuh/klipper-macros/blob/main/filament.cfg
[gcode_macro LOAD]
description: Load (by Poikilos)
gcode:
  {% set e0_temp = params.TEMPERATURE|default(230)|float %}
  M109 S{e0_temp}
  ;G92 E0 ; set position as 0
  G91 ; set relative positioning
  ; Avoid max_extrude_only_distance by using separate moves:
  {% set load_length = 60 %}  ; MakerBot Replicator 2X with FlexionHT
  ; 52 plus purge 8 more for FlashForge Creator Pro (2016 version, stock extruder)
  ; G1 E30 F480
  ; F480 skips (significantly on 0.4 nozzle moreso on 0.2 even with meta PLA)
  # Fast then slow since extruding
  G1 E-{30} F480
  G1 E10 F240
  G1 E10 F120
  G1 E10 F60
  ; F480 skips (significantly on 0.4 nozzle moreso on 0.2 even with meta PLA)
  G1 E5 F240
  M400 ; wait for moves to complete
  TURN_OFF_HEATERS
  G91 ; set absolute positioning
  G92 E0 ; set position as 0


[gcode_macro UNLOAD]
description: Unload (by Poikilos)
gcode:
  {% set e0_temp = params.TEMPERATURE|default(230)|float %}
  M109 S{e0_temp}
  G92 E0 ; set position as 0
  G91 ; set relative positioning
  ; Avoid max_extrude_only_distance:
  {% set unload_length = 60 %}  ; MakerBot Replicator 2X with FlexionHT
  ; {% set unload_length = 60 %}
  ;G1 E-1 F60
  ;G1 E-1 F120
  ;G1 E-1 F240
  # Immediately fast since retracting (try to pull it cleanly)
  G1 E-{unload_length - 20} F4200  ; max E move is 50
  G1 E-{20} F480
  
  M400 ; wait for moves to complete
  TURN_OFF_HEATERS
  G91 ; set absolute positioning
  G92 E0 ; set position as 0
  SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0 ; allow pushing the next one into the gear (to prepare for LOAD)
  SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0 ; allow pushing the print head (to load)
  SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0 ; allow pushing the print head (to load)

